## 01: Assignment, DTypes, and Evaluation
### Section 1.2, 2.1-3.5

#### Evaluation Order

In [9]:
# If the last line is an expression and not an assignment then the expression is evaluated and it is printed to the screen.
FahrTemp=80
CentTemp=(FahrTemp-32)*5/9 # doesn't print
CentTemp # prints

26.666666666666668

In [10]:
round(CentTemp,2) # rounds

26.67

In [11]:
# The following are different data types
x1=98.6
x2=986
x3='ninety eight point six'
print(type(x1))
print(type(x2))
print(type(x3))
print(type(True)) #Useful for checking if things are equal

<class 'float'>
<class 'int'>
<class 'str'>
<class 'bool'>

In [12]:
x, y = 5+5, 2+8
x == y # prints true because 5+5=2+8

True

In [13]:
x=2500
y=2500
print(x==y) # Value is the same, but ID is not
print(id(x)==id(y))

True
False

#### Strings

In [14]:
# for strings, single quotes and double quotes are equivalent
x='dog' 
print(type(x))
print(x) # prints without quotes
x # prints with quotes

<class 'str'>
dog

'dog'

In [15]:
# Two ways to put quotes in quotes
x1='put something in "quotes" in a string' # direct quoting
print(x1)
x2="string plus \"another\" set of characters" # backslash method
print(x2)

put something in "quotes" in a string
string plus "another" set of characters

In [16]:
# we can see how long a string is, or any object with the len() function
# if a function can be used for different object, its called overloaded
st="dogs and cats"
len(st)

13

In [17]:
# We can refer to particular elements in a string using square brackets with values 0,1,...,length of string-1
st="do you prefer to have a dog or a cat as a pet?"
print(len(st))
print(st[0])
print(st[1])
print(st[-4]) #negative assignment counts from the right

46
d
o
p

In [18]:
# A colon is used to "slice" a string
print(st)
print(st[0:6]) # 0,1,2,3,4
print(st[2:])  # 2,3,... end of string
print(st[:3])  # 0,1,2
print(st[-4:])

do you prefer to have a dog or a cat as a pet?
do you
 you prefer to have a dog or a cat as a pet?
do
pet?

In [19]:
# the + operator is used to join strings together, and is overloaded as well
x1='cat'
x2='69'
x1+=x2 # shortcut for x1 = x1 + x2
print(x1)

cat69

In [20]:
# we can force conversions
x=1.1
print(type(x))
x1=str(x) #force float to string
print(type(x1))

<class 'float'>
<class 'str'>

In [21]:
# we can use the .replace() function to replace string postions
st = 'my dog ate my homework'
s1=st.replace("dog","cat")
print(st) #note the value isn't reassigned, because strings are INMUTABLE
print(s1) #we need assignment to change print values

my dog ate my homework
my cat ate my homework

In [22]:
# backslahses are used for special characters
# \n = new line character
# \t = tab character
# \\ = backslash character
# \" = to put quotes inside a string (the backslash "escapes" the meaning of the ")
# \' = to put an apostrophe inside a string
print("function is defined as: \n \t x exists as a \"string.\" so let\'s code!")

function is defined as:
 	 x exists as a "string." so let's code!

In [23]:
# useful string functions
str='cAt'
print(str.upper()) # uppercase
print(str.lower()) # lowercase
st='c.a.t'
print(st.split(".")) #removes periods and splits to individual strings
"_".join(["my","file","name"]) # join the three together with underscore
#"my_file_name".split("_") #['my', 'file', 'name']

CAT
cat
['c', 'a', 't']

'my_file_name'

#### Lists

In [24]:
a=[1,2,3,4,5,6] #use brackets for lists, indices work the same way
print(a[0])
print(a[-1])
print(a[0:2]) # up to and not including '2'
print(a[-1:-3]) #slicing only works left to right, so gives nothing

1
6
[1, 2]
[]

In [25]:
# lists can have lists, and indexing works the same way
b=[1,'cat',[3,4,5]]
print(b)
print(b[2])
print(b[2][1])

[1, 'cat', [3, 4, 5]]
[3, 4, 5]
4

In [26]:
# lists are mutable, and so are elements of the lists
numbers = [1, 2, 3, 4]
print(numbers)

numbers[2] = 99 # Modify an element
print(numbers) # this works, if it was immutable, we would need numbers=numbers[2]

[1, 2, 3, 4]
[1, 2, 99, 4]

In [27]:
# Helpful list methods
a=[6,7,8]
a.insert(1,2) # insert(position, element) and shift everything
print(a)
a.append(5) # add 5 to the end
print(a)
a+=[9,10] #concatenation
print(a)
a.extend([43,52]) # add to end
print(a)
a.remove(52) # remove an element, removing can't take lists
print(a)
a.sort()
print(a) # sorts the list from small to large, or a-z
x=a.pop() # remove last element
print(x, a)
del(a[6]) # delete an element by index
print(a)

[6, 2, 7, 8]
[6, 2, 7, 8, 5]
[6, 2, 7, 8, 5, 9, 10]
[6, 2, 7, 8, 5, 9, 10, 43, 52]
[6, 2, 7, 8, 5, 9, 10, 43]
[2, 5, 6, 7, 8, 9, 10, 43]
43 [2, 5, 6, 7, 8, 9, 10]
[2, 5, 6, 7, 8, 9]

In [28]:
# Making a list of parameters for a function
def f(x,y,z):
    return(x*y+y*z)
f(1,2,3)

8

In [29]:
# we can wrap the function like this
def fnew(L):
    x=L[0]
    y=L[1]
    z=L[2]
    return(f(x,y,z))
fnew([1,2,3])

8

In [30]:
#Alternative with decorators
L=[1,2,3]
fnew(L)

8

#### Modules

In [31]:
import math
import numpy as np  

print(math.pi)
x=np.exp(math.pi*1j)+1 # python uses j instead of i for imaginary numbers
print(x) #due to floating point precision

3.141592653589793
1.2246467991473532e-16j

#### Tuples

In [33]:
# Tuples are like lists, but they are immutable and can store anything
L=[1,2,3]
car={"Bob":"Mustang","Judy":"Beetle"}
s="mystring"
f=98.6
b1=True
b2=False

t=(L,s,f,b1,b2,car)
print(t)
print(type(t))
# t[1]=87.2 will give an error. REMEMBER: immutability=no direct assignment

([1, 2, 3], 'mystring', 98.6, True, False, {'Bob': 'Mustang', 'Judy': 'Beetle'})
<class 'tuple'>

In [34]:
# assignment works similarily
t=(2,3,4)
a,b,c=t
print(a,b,c)

2 3 4

In [35]:
# lists and tuples are iterable, ie we can manipulate elements within
L=[1,2,3]
car={"Bob":"Mustang","Judy":"Beetle"}
s="mystring"
f=98.6
b1=True
b2=False

t=(L,s,f,b1,b2,car)
for x in t:
    print(x)

[1, 2, 3]
mystring
98.6
True
False
{'Bob': 'Mustang', 'Judy': 'Beetle'}

#### Ranges

In [36]:
for x in range(5): #prints 0 to 4, cannot take negatives
    print(x)

0
1
2
3
4

In [37]:
for x in range(1,5): # prints from the 1st up to and not including the last element
    print(x)

for y in range(-5,-1): # prints from the 1st up to and not including the last element
    print(y)

1
2
3
4
-5
-4
-3
-2

In [38]:
for x in range(1,11,2): # from 1 to 9 incrementing by 2
    print(x)

for i in range(10,5,-1):
    print(i)

1
3
5
7
9
10
9
8
7
6

#### Dictionaries (maps)

In [39]:
# A dictionary is a set of'key: value' pairs
# Keys must be hashable (all structures but lists)
car={'George':'Corolla','Karla':'Mustang','Jim':'Accord'}
print(car)
print(type(car))
print(car.keys()) # getting keys
print(car.values()) # getting values

{'George': 'Corolla', 'Karla': 'Mustang', 'Jim': 'Accord'}
<class 'dict'>
dict_keys(['George', 'Karla', 'Jim'])
dict_values(['Corolla', 'Mustang', 'Accord'])

In [40]:
car["Harriet"]='Vega' 
print(car) # we can directly add a pair or change values
car["Harriet"]='Corolla'
print(car['Harriet'])

{'George': 'Corolla', 'Karla': 'Mustang', 'Jim': 'Accord', 'Harriet': 'Vega'}
Corolla

In [41]:
car={'George':'Corolla','Karla':'Mustang','Jim':'Accord'}
v=car.pop("George") # popping the key removes the pair and extracts the value
print(car)
print(v)

car={'George':'Corolla','Karla':'Mustang','Jim':'Accord'}
v=car.popitem() # popitem removes AND extracts the pair
print(car)
print(v)

{'Karla': 'Mustang', 'Jim': 'Accord'}
Corolla
{'George': 'Corolla', 'Karla': 'Mustang'}
('Jim', 'Accord')

In [42]:
car.get("George") # to extract a value from key

'Corolla'

#### Booleans

In [43]:
t=True
f=False
print(type(t), t) #boolean datatype
print(type(f), f)
b1=not t #not reverses the type
b2=not f
print(b1)
print(b2)

<class 'bool'> True
<class 'bool'> False
False
True

In [44]:
# AND operator
b1=t & t
b2=t & f
b3=f & t
b4=f & f
print(b1, b2, b3, b4)

True False False False

In [45]:
# OR operator
b1=t | t
b2=t | f
b3=f | t
b4=f | f
print(b1, b2, b3, b4)

True True True False

In [46]:
# XOR operator (exculsively or)
b1=t ^ t
b2=t ^ f
b3=f ^ t
b4=f ^ f
print(b1, b2, b3, b4)

False True True False

In [47]:
# numbers are compared, and strings are compared by ASCII value https://www.asciitable.com/
x=7
y=8
a='abc'
b='def'
print(x<y,x<=y,x==y,x>=y,x>y)
print(a<b,a<=b,a==b,a>=b,a>b) 
# we can use 'is' in place of ==
print(x is y)
print(a is b)

True True False False False
True True False False False
False
False